body, html{
  min-height: 100vh;
  margin: auto;
  background-image: url();
}

header{
  height: 10vh;
  margin: auto;
}

main{
  height: 80vh;
  margin: auto;
}

footer {
  height: 10vh;
  margin: auto;
}