body, html{
  min-height: 100vh;
  margin: auto;
  background-color: teal;
}

header{
  height: 10vh;
  margin: auto;
}

main{
  height: 80vh;
  margin: auto;
}

footer {
  height: 10vh;
  margin: auto;
}

.appImg{
  height: 20vh;
  width: 15=0vw;
  border-radius: 20px;
  border: 3px;
  border-color: white;
  border-style: solid;
  background-color: rgb(121, 104, 104);
}

.photoMe {
  transform: rotate(90deg);
  height:17vh;
  width: 14vw;
  border-radius: 50%;
  border: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
}

.nameCol {
  background-color: rgb(194, 188, 188);
  height: 20%;
  font-size: 4vh;
  text-shadow: 1px 1px black;
  display: flex;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  justify-content: space-evenly;
  margin-bottom: 10vh;
}

.appCard{
  justify-self: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.skillTitle{
  color: white;
  font-size: 5vh;
 justify-content: center;
 margin-bottom: 3vh;
}

.skillsRow {
 color: white;
 text-shadow: 1px 1px black;
 display: flex;
 justify-content: space-evenly;
 margin-bottom: 10vh;
}